#related-vehicles{
  text-align: center;
  ul{
    @include display(flex);
    @include justify-content(space-between);
    padding: 0;
    li{
      width: 25%;
      list-style: none;
      padding: 10px;
      &:hover{
        background-color: #eee;
      }
      .advert-image{
        height: 200px;
        background:{
          size: cover;
          position: center center;
        }
      }
    }
  }
}
